<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Explore</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/normalize.css" />
  </head>
  <body>
    <div class="home--container" id="main-icons">
      <aside class="All__icons all__lists">
        <span class="black-bird">
          <img src="../assets/bird.png" alt="bird" class="home-bird" />
        </span>
        <a href="twitterhome.html" class="link-icon">
          <span class="icon__container m-container">
            <svg class="icon">
              <use
                xlink:href="../assets/sprite.svg#home_FILL1_wght400_GRAD0_opsz48"
              ></use>
            </svg>
          </span>
          <p>Home</p></a
        >
        <a href="#" class="link-icon">
          <span class="icon__container m-container">
            <svg class="icon">
              <use
                xlink:href="../assets/sprite (2).svg#search_FILL0_wght400_GRAD0_opsz48"
              ></use>
            </svg>
          </span>
          <p>Explore</p></a
        >
        <a href="notifications.html" class="link-icon">
          <span class="icon__container m-container">
            <svg class="icon">
              <use
                xlink:href="../assets/sprite (1).svg#notifications_FILL0_wght400_GRAD0_opsz48"
              ></use>
            </svg>
          </span>
          <p>Notifications</p></a
        >
        <a href="message.html" class="link-icon">
          <span class="icon__container m-container">
            <svg class="icon">
              <use
                xlink:href="../assets/sprite (1).svg#mail_FILL0_wght400_GRAD0_opsz48"
              ></use>
            </svg>
          </span>
          <p>Messages</p></a
        >
        <a href="bookmark.html" class="link-icon">
          <span class="icon__container m-container">
            <svg class="icon">
              <use
                xlink:href="../assets/sprite (1).svg#bookmark_FILL0_wght400_GRAD0_opsz48"
              ></use>
            </svg>
          </span>
          <p>Bookmarks</p></a
        >
        <a href="twitterlists.html" class="link-icon">
          <span class="icon__container m-container">
            <svg class="icon">
              <use
                xlink:href="../assets/sprite (1).svg#list_FILL0_wght400_GRAD0_opsz48"
              ></use>
            </svg>
          </span>
          <p>Lists</p></a
        >
        <a href="profile.html" class="link-icon">
          <span class="icon__container m-container">
            <svg class="icon">
              <use
                xlink:href="../assets/sprite (1).svg#person_FILL0_wght400_GRAD0_opsz48"
              ></use>
            </svg>
          </span>
          <p>Profile</p></a
        >
        <a href="#" class="link-icon" id="link-icon">
          <span class="icon__container m-container">
            <svg class="icon">
              <use
                xlink:href="../assets/sprite (1).svg#more_horiz_FILL0_wght400_GRAD0_opsz48"
              ></use>
            </svg>
          </span>
          <p>More</p></a
        >
        <a href="#" class="link-icon link__tweet" id="blue-btn">
          <span class="icon__container blue-container">
            <svg class="icon">
              <use
                xlink:href="../assets/sprite (1).svg#favorite_FILL0_wght400_GRAD0_opsz48"
              ></use>
            </svg>
          </span>
          <p>Tweet</p></a
        >
        <div class="t-width mess-btn">
          <a href="#" class="blue--button btn" id="blue-button">tweet</a>
        </div>
        <div class="gates-block">
          <img src="../assets/bill.jpg" alt="google" class="google__round" />
          <p class="gates">bill gates</p>
        </div>
      </aside>
      <header class="All__contents message__contents">
        <div class="search__explore">
          <form method="post" class="third__block">
            <div class="search-news">
              <svg class="icon blur--icon">
                <use
                  xlink:href="../assets/sprite (2).svg#search_FILL0_wght400_GRAD0_opsz48"
                ></use>
              </svg>
              <input
                type="text"
                class="input-search"
                placeholder="search twitter"
              />
            </div>
          </form>
          <a href="#">
            <span class="icon__container m-container">
              <svg class="icon">
                <use
                  xlink:href="../assets/sprite (1).svg#local_fire_department_FILL0_wght400_GRAD0_opsz48"
                ></use>
              </svg>
            </span>
          </a>
        </div>
        <div class="Ex--links">
          <a href="#" class="explore-link">For you</a>
          <a href="#" class="explore-link">Covid</a>
          <a href="#" class="explore-link">Trending</a>
          <a href="#" class="explore-link">News</a>
          <a href="#" class="explore-link">Sports</a>
          <a href="#" class="explore-link">Entertainment</a>
        </div>
        <div class="explore__image">
          <img src="../assets/food.jpg" alt="food" />
          <a href="#">
            <span class="icon__container m-container">
              <svg class="icon">
                <use
                  xlink:href="../assets/sprite (1).svg#more_horiz_FILL0_wght400_GRAD0_opsz48"
                ></use>
              </svg>
            </span>
          </a>
        </div>
        <div class="exp__news">
          <div class="simple-news">
            <p>covid19 .live</p>
            <div>
              <h5>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Ducimus esse explicabo odit alias, beatae placeat.
              </h5>
              <img src="../assets/bill.jpg" alt="billgates" />
            </div>
          </div>
          <div class="simple-news">
            <p>covid19 .live</p>
            <div>
              <h5>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Ducimus esse explicabo odit alias, beatae placeat.
              </h5>
              <img src="../assets/bill.jpg" alt="billgates" />
            </div>
          </div>
          <div class="simple-news">
            <p>covid19 .live</p>
            <div>
              <h5>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Ducimus esse explicabo odit alias, beatae placeat.
              </h5>
              <img src="../assets/bill.jpg" alt="billgates" />
            </div>
          </div>
        </div>
      </header>
      <aside class="third--aside third--aside2">
        <div class="latest__news">
          <p>Who to follow</p>
          <div class="simple-news1">
            <img src="../assets/applepic.jpg" alt="apple" />
            <div>
              <p>Apple</p>
              <p class="subpara">@token spirit</p>
            </div>
            <a href="#" class="btn">follow</a>
          </div>
          <div class="simple-news1">
            <img src="../assets/applepic.jpg" alt="apple" />
            <div>
              <p>Store</p>
              <p class="subpara">@token spirit</p>
            </div>
            <a href="#" class="btn">follow</a>
          </div>
          <div class="simple-news1">
            <img src="../assets/applepic.jpg" alt="apple" />
            <div>
              <p>Virat</p>
              <p class="subpara">@token spirit</p>
            </div>
            <a href="#" class="btn">follow</a>
          </div>
        </div>
        <div class="twitter-copy">
          <a href="#" class="copy-link">Terms of service</a>
          <a href="#" class="copy-link">Privacy policy</a>
          <a href="#" class="copy-link">Cookie policy</a>
          <a href="#" class="copy-link">Accebility</a>
          <a href="#" class="copy-link">Ads info</a>
          <a href="#" class="copy-link">more</a>
        </div>
        <p class="copyright">&copy; 2022 copyright, inc.</p>
      </aside>
      <div class="prof--ics" id="prof--ics">
        <div class="p-ics">
          <svg class="icon pro-icon">
            <use
              xlink:href="../assets/sprite (1).svg#person_FILL0_wght400_GRAD0_opsz48"
            ></use>
          </svg>
          <p>Topics</p>
        </div>
        <div class="p-ics">
          <svg class="icon pro-icon">
            <use
              xlink:href="../assets/sprite (1).svg#person_FILL0_wght400_GRAD0_opsz48"
            ></use>
          </svg>
          <p>moments</p>
        </div>
        <div class="p-ics">
          <svg class="icon pro-icon">
            <use
              xlink:href="../assets/sprite (1).svg#person_FILL0_wght400_GRAD0_opsz48"
            ></use>
          </svg>
          <p>newsletter</p>
        </div>
        <div class="p-ics">
          <svg class="icon pro-icon">
            <use
              xlink:href="../assets/sprite (1).svg#person_FILL0_wght400_GRAD0_opsz48"
            ></use>
          </svg>
          <p>twitter and professionals</p>
        </div>
        <div class="p-ics">
          <svg class="icon pro-icon">
            <use
              xlink:href="../assets/sprite (1).svg#person_FILL0_wght400_GRAD0_opsz48"
            ></use>
          </svg>
          <p>twitter add</p>
        </div>
        <div class="p-ics">
          <svg class="icon pro-icon">
            <use
              xlink:href="../assets/sprite (1).svg#person_FILL0_wght400_GRAD0_opsz48"
            ></use>
          </svg>
          <p>analytics</p>
        </div>
        <div class="p-ics">
          <svg class="icon pro-icon">
            <use
              xlink:href="../assets/sprite (1).svg#person_FILL0_wght400_GRAD0_opsz48"
            ></use>
          </svg>
          <p>settings</p>
        </div>
        <div class="p-ics">
          <svg class="icon pro-icon">
            <use
              xlink:href="../assets/sprite (1).svg#person_FILL0_wght400_GRAD0_opsz48"
            ></use>
          </svg>
          <p>help center</p>
        </div>
        <div class="p-ics">
          <svg class="icon pro-icon">
            <use
              xlink:href="../assets/sprite (1).svg#person_FILL0_wght400_GRAD0_opsz48"
            ></use>
          </svg>
          <p>display</p>
        </div>
        <div class="p-ics">
          <svg class="icon pro-icon">
            <use
              xlink:href="../assets/sprite (1).svg#person_FILL0_wght400_GRAD0_opsz48"
            ></use>
          </svg>
          <p class="p-para">keyboard shortcuts</p>
        </div>
      </div>
    </div>
    <div class="popup" id="popup">
      <div class="whats__new">
        <img src="../assets/bill.jpg" alt="billgates" />
        <textarea placeholder="Whats happening?"></textarea>
      </div>
      <div class="home__icons">
        <div>
          <a href="#" class="blue__link">
            <span class="icon__container">
              <svg class="icon blue__icon">
                <use
                  xlink:href="../assets/sprite (1).svg#image_FILL0_wght400_GRAD0_opsz48"
                ></use>
              </svg>
            </span>
          </a>
          <a href="#" class="blue__link">
            <span class="icon__container">
              <svg class="icon blue__icon">
                <use
                  xlink:href="../assets/sprite (1).svg#gif_box_FILL0_wght400_GRAD0_opsz48"
                ></use>
              </svg>
            </span>
          </a>
          <a href="#" class="blue__link">
            <span class="icon__container">
              <svg class="icon blue__icon">
                <use
                  xlink:href="../assets/sprite (1).svg#bar_chart_FILL0_wght400_GRAD0_opsz48"
                ></use>
              </svg>
            </span>
          </a>
          <a href="#" class="blue__link">
            <span class="icon__container">
              <svg class="icon blue__icon">
                <use
                  xlink:href="../assets/sprite (1).svg#sentiment_satisfied_FILL0_wght400_GRAD0_opsz48"
                ></use>
              </svg>
            </span>
          </a>
          <a href="#" class="blue__link">
            <span class="icon__container">
              <svg class="icon blue__icon">
                <use
                  xlink:href="../assets/sprite (1).svg#schedule_FILL0_wght400_GRAD0_opsz48"
                ></use>
              </svg>
            </span>
          </a>
          <a href="#" class="blue__link">
            <span class="icon__container">
              <svg class="icon blue__icon">
                <use
                  xlink:href="../assets/sprite (1).svg#pin_drop_FILL0_wght400_GRAD0_opsz48"
                ></use>
              </svg>
            </span>
          </a>
        </div>
        <a href="#" class="btn tweet__small">Tweet</a>
      </div>
    </div>

    <script src="../js/index.js"></script>
  </body>
</html>
