<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>twitter login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/normalize.css" />
  </head>
  <body>
    <div class="container--twitter">
      <div class="twitter__login">
        <div class="headings">
          <div>
            <img
              src="../assets/bird.png"
              class="small__bird"
              alt="a bird with blue"
            />
            <div class="head__width">
              <h1 class="head1">Happening Now</h1>
            </div>
            <p class="head2">Join Twitter Today</p>
            <div class="link1">
              <a href="#" class="imglink img__link">
                Signup with google
                <img
                  src="../assets/google-symbol.png"
                  class="google__symbol symbl"
                  alt="google symbol"
                />
              </a>
            </div>
            <div class="link2">
              <a href="#" class="imglink">
                SignUp with apple
                <img
                  src="../assets/appleblack.png"
                  class="apple__symbol"
                  alt="apple symbol"
                />
              </a>
            </div>
            <h2><span>or</span></h2>
            <div class="mobile--sign">
              <a href="#" class="imglink">signup with phone or email</a>
            </div>
            <p class="terms">
              By signing up, you agree to the
              <a href="#" class="conditions"> terms of service </a> and privacy
              policy, including cookie use
            </p>
            <p class="exist__acc">Already have an account?</p>
            <a href="#" class="imglink line__btn">Sign in</a>
          </div>
        </div>
        <div>
          <img
            src="../assets/twitterlogo.png"
            class="bird"
            alt="a bird with blue"
          />
        </div>
      </div>
    </div>
    <footer class="copyrights">
      <a href="#" class="last__link">About</a>
      <a href="#" class="last__link">Help center</a>
      <a href="#" class="last__link">Terms of service</a>
      <a href="#" class="last__link">Privacy policy</a>
      <a href="#" class="last__link">Accessibility</a>
      <a href="#" class="last__link">Ads info</a>
      <a href="#" class="last__link">blog</a>
      <a href="#" class="last__link">status</a>
      <a href="#" class="last__link">carriers</a>
      <a href="#" class="last__link">brand resources</a>
      <a href="#" class="last__link">Advertising</a>
      <a href="#" class="last__link">Marketing</a>
      <a href="#" class="last__link">Twitter for business</a>
      <a href="#" class="last__link">Developer</a>
      <a href="#" class="last__link">directory</a>
      <a href="#" class="last__link">settings</a>
      <p class="last__p">&copy; 2022 twitter, Inc.</p>
    </footer>
  </body>
</html>
